@charset "UTF-8";


header{
	position : fixed;
	text-align : center;
	top:0px;
	left:0px;
	height:40px;
	width:100%;
	background-color: orange;
	font-size:30px;
	
}

nav {
	position : fixed;
	top:40px;
	left:0px;
	height:20px;
	width:100%;
	background-color: pink;
}

section{
	position : fixed;
	top:60px;
	left:0px;
	height:100%;
	width:100%;
	background-color: lightgray;	
}

footer{
	position : fixed;
	text-align:center;
	bottom:0px;
	left:0px;
	height:30px;
	width:100%;
	background-color: orange;
	font-size:20px;
	
}

section > h2 {
	text-align: center;
}

section > p {
	padding-left: 20px;
}

form {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align:center;
}